<h1>編集</h1>

<%= form_for @user do |f| %>

  <%= f.label :性別（任意） %>
  <%= f.text_field :sex %>
 
  <%= f.label :メールアドレス %>
  <%= f.text_field :email %>
 
  <%= f.label :プロフィール（任意） %>
  <%= f.text_area :profile %>
  
  <%= f.submit "Edit my profile", class: "btn btn-large btn-primary" %>

<% end %>

<p>
<%= link_to '← go back profile', user_path %>
</p>
