<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<%= form_for @user do |f| %>

  <%= f.label :性別 %>
  <%= f.text_field :sex, :readonly => true %>
 
  <%= f.label :メールアドレス %>
  <%= f.text_field :email, :readonly => true %>
 
  <%= f.label :プロフィール %>
  <%= f.text_field :profile, :readonly => true %>
  
<% end %>
<%= link_to 'settings', edit_user_path %>
</p>


